@import '../../node_modules/simple-keyboard/build/css/index.css';

#settingsButton {
    z-index: 1080;
}


::selection {
    background:lightblue;
}

#settingsButton {
  right: 10px;
  top: 10px;
  width:40px;
  height:40px;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,0.5);
}

//Removing the blue outline on MacOS X
button:focus, input:focus {
  outline: none;
}

li.selected {
  border-color: red;
  border-width: 5px;
}


#keyboard {
  position: absolute;
  right:0;
  left:0;
  bottom: 0;
  padding:10px 20vw;
  background-color: rgba(0,0,0,0.4);
  display: none;
  z-index: 2000;
}
