.red [class*="push"] {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms; }

.red .push--flat {
  box-shadow: inset 0 0.9375px 0 #ff1a1a, inset 0 -0.9375px 0 #e60000, inset 0 0 0 0.9375px #f00000, inset 0 0 0 2.5px red, inset 0 0 0 3px #990000, inset 0 0 0 3.26087px black, inset 0 0 0 4px rgba(255, 153, 153, 0.7), inset 0 0 0 5.45455px red, inset 0 12px 4px #e60000, inset 0 0 3px 5px #cc0000, 0 1.5px 0 rgba(0, 0, 0, 0.3); }
  .red .push--flat:after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    left: 3px;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 2px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .red .push--flat:active, .red .push--flat.is-pushed {
    box-shadow: inset 0 0.9375px 0 #ff1a1a, inset 0 -0.9375px 0 #e60000, inset 0 0 0 0.9375px #f00000, inset 0 0 0 2.5px red, inset 0 0 0 3px #990000, inset 0 0 0 3.52941px #330000, inset 0 0 0 4px rgba(255, 153, 153, 0.2), inset 0 0 0 5.45455px #f00000, inset 0 12px 4px #d60000, inset 0 0 3px 5px #b30000, 0 1.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #f50000; }
    .red .push--flat:active:after, .red .push--flat.is-pushed:after {
      bottom: 3.5px;
      border-width: 0; }

.red .push--skeuo {
  box-shadow: inset 0 1.25px 0 #ff1a1a, inset 0 -1.25px 0.5px #e60000, 0 0 0.5px red, inset 0 0 1px #b30000, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px red, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #990000, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.25px 3.26087px black, inset 0 0 0.25px 3.75px rgba(255, 153, 153, 0.7), inset 0 1.5px 0 3.52941px rgba(255, 77, 77, 0.7), inset 0 -1.5px 0.5px 3.52941px rgba(204, 0, 0, 0.2), inset 0 0 0 5.45455px red, inset 0 12px 4px #e60000, inset 0 0 3px 5px #cc0000, 0 0.75px 1.5px rgba(0, 0, 0, 0.5); }
  .red .push--skeuo:active, .red .push--skeuo.is-pushed {
    box-shadow: inset 0 1.25px 0 #ff1a1a, inset 0 -1.25px 0.5px #e60000, 0 0 0.5px red, inset 0 0 1px #b30000, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px red, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #990000, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.75px 3.52941px #330000, inset 0 0 0.25px 4px rgba(255, 153, 153, 0.2), inset 0 1.5px 0 28px rgba(255, 77, 77, 0.5), inset 0 -1.5px 0.5px 28px rgba(153, 0, 0, 0.2), inset 0 0 0 5.45455px #f00000, inset 0 12px 4px #d60000, inset 0 0 3px 5px #b30000, 0 0.75px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #f50000; }
    .red .push--skeuo:active:before, .red .push--skeuo.is-pushed:before {
      opacity: .5; }
  .red .push--skeuo:before {
    content: '';
    position: absolute;
    bottom: 6.66667px;
    left: 8.33333px;
    display: block;
    width: 13.63636px;
    height: 9.09091px;
    background: rgba(255, 153, 153, 0.2);
    background: linear-gradient(to top, rgba(255, 204, 204, 0.3) 0%, rgba(255, 0, 0, 0.1) 100%);
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms; }

.yellow [class*="push"] {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms; }

.yellow .push--flat {
  box-shadow: inset 0 0.9375px 0 #ffff1a, inset 0 -0.9375px 0 #e6e600, inset 0 0 0 0.9375px #f0f000, inset 0 0 0 2.5px yellow, inset 0 0 0 3px #999900, inset 0 0 0 3.26087px black, inset 0 0 0 4px rgba(255, 255, 153, 0.7), inset 0 0 0 5.45455px yellow, inset 0 12px 4px #e6e600, inset 0 0 3px 5px #cccc00, 0 1.5px 0 rgba(0, 0, 0, 0.3); }
  .yellow .push--flat:after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    left: 3px;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 2px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .yellow .push--flat:active, .yellow .push--flat.is-pushed {
    box-shadow: inset 0 0.9375px 0 #ffff1a, inset 0 -0.9375px 0 #e6e600, inset 0 0 0 0.9375px #f0f000, inset 0 0 0 2.5px yellow, inset 0 0 0 3px #999900, inset 0 0 0 3.52941px #333300, inset 0 0 0 4px rgba(255, 255, 153, 0.2), inset 0 0 0 5.45455px #f0f000, inset 0 12px 4px #d6d600, inset 0 0 3px 5px #b3b300, 0 1.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #f5f500; }
    .yellow .push--flat:active:after, .yellow .push--flat.is-pushed:after {
      bottom: 3.5px;
      border-width: 0; }

.yellow .push--skeuo {
  box-shadow: inset 0 1.25px 0 #ffff1a, inset 0 -1.25px 0.5px #e6e600, 0 0 0.5px yellow, inset 0 0 1px #b3b300, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px yellow, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #999900, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.25px 3.26087px black, inset 0 0 0.25px 3.75px rgba(255, 255, 153, 0.7), inset 0 1.5px 0 3.52941px rgba(255, 255, 77, 0.7), inset 0 -1.5px 0.5px 3.52941px rgba(204, 204, 0, 0.2), inset 0 0 0 5.45455px yellow, inset 0 12px 4px #e6e600, inset 0 0 3px 5px #cccc00, 0 0.75px 1.5px rgba(0, 0, 0, 0.5); }
  .yellow .push--skeuo:active, .yellow .push--skeuo.is-pushed {
    box-shadow: inset 0 1.25px 0 #ffff1a, inset 0 -1.25px 0.5px #e6e600, 0 0 0.5px yellow, inset 0 0 1px #b3b300, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px yellow, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #999900, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.75px 3.52941px #333300, inset 0 0 0.25px 4px rgba(255, 255, 153, 0.2), inset 0 1.5px 0 28px rgba(255, 255, 77, 0.5), inset 0 -1.5px 0.5px 28px rgba(153, 153, 0, 0.2), inset 0 0 0 5.45455px #f0f000, inset 0 12px 4px #d6d600, inset 0 0 3px 5px #b3b300, 0 0.75px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #f5f500; }
    .yellow .push--skeuo:active:before, .yellow .push--skeuo.is-pushed:before {
      opacity: .5; }
  .yellow .push--skeuo:before {
    content: '';
    position: absolute;
    bottom: 6.66667px;
    left: 8.33333px;
    display: block;
    width: 13.63636px;
    height: 9.09091px;
    background: rgba(255, 255, 153, 0.2);
    background: linear-gradient(to top, rgba(255, 255, 204, 0.3) 0%, rgba(255, 255, 0, 0.1) 100%);
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms; }

.green [class*="push"] {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: lime;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms; }

.green .push--flat {
  box-shadow: inset 0 0.9375px 0 #1aff1a, inset 0 -0.9375px 0 #00e600, inset 0 0 0 0.9375px #00f000, inset 0 0 0 2.5px lime, inset 0 0 0 3px #009900, inset 0 0 0 3.26087px black, inset 0 0 0 4px rgba(153, 255, 153, 0.7), inset 0 0 0 5.45455px lime, inset 0 12px 4px #00e600, inset 0 0 3px 5px #00cc00, 0 1.5px 0 rgba(0, 0, 0, 0.3); }
  .green .push--flat:after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    left: 3px;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 2px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .green .push--flat:active, .green .push--flat.is-pushed {
    box-shadow: inset 0 0.9375px 0 #1aff1a, inset 0 -0.9375px 0 #00e600, inset 0 0 0 0.9375px #00f000, inset 0 0 0 2.5px lime, inset 0 0 0 3px #009900, inset 0 0 0 3.52941px #003300, inset 0 0 0 4px rgba(153, 255, 153, 0.2), inset 0 0 0 5.45455px #00f000, inset 0 12px 4px #00d600, inset 0 0 3px 5px #00b300, 0 1.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #00f500; }
    .green .push--flat:active:after, .green .push--flat.is-pushed:after {
      bottom: 3.5px;
      border-width: 0; }

.green .push--skeuo {
  box-shadow: inset 0 1.25px 0 #1aff1a, inset 0 -1.25px 0.5px #00e600, 0 0 0.5px lime, inset 0 0 1px #00b300, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px lime, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #009900, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.25px 3.26087px black, inset 0 0 0.25px 3.75px rgba(153, 255, 153, 0.7), inset 0 1.5px 0 3.52941px rgba(77, 255, 77, 0.7), inset 0 -1.5px 0.5px 3.52941px rgba(0, 204, 0, 0.2), inset 0 0 0 5.45455px lime, inset 0 12px 4px #00e600, inset 0 0 3px 5px #00cc00, 0 0.75px 1.5px rgba(0, 0, 0, 0.5); }
  .green .push--skeuo:active, .green .push--skeuo.is-pushed {
    box-shadow: inset 0 1.25px 0 #1aff1a, inset 0 -1.25px 0.5px #00e600, 0 0 0.5px lime, inset 0 0 1px #00b300, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px lime, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #009900, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.75px 3.52941px #003300, inset 0 0 0.25px 4px rgba(153, 255, 153, 0.2), inset 0 1.5px 0 28px rgba(77, 255, 77, 0.5), inset 0 -1.5px 0.5px 28px rgba(0, 153, 0, 0.2), inset 0 0 0 5.45455px #00f000, inset 0 12px 4px #00d600, inset 0 0 3px 5px #00b300, 0 0.75px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #00f500; }
    .green .push--skeuo:active:before, .green .push--skeuo.is-pushed:before {
      opacity: .5; }
  .green .push--skeuo:before {
    content: '';
    position: absolute;
    bottom: 6.66667px;
    left: 8.33333px;
    display: block;
    width: 13.63636px;
    height: 9.09091px;
    background: rgba(153, 255, 153, 0.2);
    background: linear-gradient(to top, rgba(204, 255, 204, 0.3) 0%, rgba(0, 255, 0, 0.1) 100%);
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms; }

.blue [class*="push"] {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms; }

.blue .push--flat {
  box-shadow: inset 0 0.9375px 0 #1a1aff, inset 0 -0.9375px 0 #0000e6, inset 0 0 0 0.9375px #0000f0, inset 0 0 0 2.5px blue, inset 0 0 0 3px #000099, inset 0 0 0 3.26087px black, inset 0 0 0 4px rgba(153, 153, 255, 0.7), inset 0 0 0 5.45455px blue, inset 0 12px 4px #0000e6, inset 0 0 3px 5px #0000cc, 0 1.5px 0 rgba(0, 0, 0, 0.3); }
  .blue .push--flat:after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    left: 3px;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 2px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .blue .push--flat:active, .blue .push--flat.is-pushed {
    box-shadow: inset 0 0.9375px 0 #1a1aff, inset 0 -0.9375px 0 #0000e6, inset 0 0 0 0.9375px #0000f0, inset 0 0 0 2.5px blue, inset 0 0 0 3px #000099, inset 0 0 0 3.52941px #000033, inset 0 0 0 4px rgba(153, 153, 255, 0.2), inset 0 0 0 5.45455px #0000f0, inset 0 12px 4px #0000d6, inset 0 0 3px 5px #0000b3, 0 1.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #0000f5; }
    .blue .push--flat:active:after, .blue .push--flat.is-pushed:after {
      bottom: 3.5px;
      border-width: 0; }

.blue .push--skeuo {
  box-shadow: inset 0 1.25px 0 #1a1aff, inset 0 -1.25px 0.5px #0000e6, 0 0 0.5px blue, inset 0 0 1px #0000b3, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px blue, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #000099, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.25px 3.26087px black, inset 0 0 0.25px 3.75px rgba(153, 153, 255, 0.7), inset 0 1.5px 0 3.52941px rgba(77, 77, 255, 0.7), inset 0 -1.5px 0.5px 3.52941px rgba(0, 0, 204, 0.2), inset 0 0 0 5.45455px blue, inset 0 12px 4px #0000e6, inset 0 0 3px 5px #0000cc, 0 0.75px 1.5px rgba(0, 0, 0, 0.5); }
  .blue .push--skeuo:active, .blue .push--skeuo.is-pushed {
    box-shadow: inset 0 1.25px 0 #1a1aff, inset 0 -1.25px 0.5px #0000e6, 0 0 0.5px blue, inset 0 0 1px #0000b3, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px blue, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #000099, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.75px 3.52941px #000033, inset 0 0 0.25px 4px rgba(153, 153, 255, 0.2), inset 0 1.5px 0 28px rgba(77, 77, 255, 0.5), inset 0 -1.5px 0.5px 28px rgba(0, 0, 153, 0.2), inset 0 0 0 5.45455px #0000f0, inset 0 12px 4px #0000d6, inset 0 0 3px 5px #0000b3, 0 0.75px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #0000f5; }
    .blue .push--skeuo:active:before, .blue .push--skeuo.is-pushed:before {
      opacity: .5; }
  .blue .push--skeuo:before {
    content: '';
    position: absolute;
    bottom: 6.66667px;
    left: 8.33333px;
    display: block;
    width: 13.63636px;
    height: 9.09091px;
    background: rgba(153, 153, 255, 0.2);
    background: linear-gradient(to top, rgba(204, 204, 255, 0.3) 0%, rgba(0, 0, 255, 0.1) 100%);
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms; }

.orange [class*="push"] {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: #fd7e14;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms; }

.orange .push--flat {
  box-shadow: inset 0 0.9375px 0 #fd8c2d, inset 0 -0.9375px 0 #f57102, inset 0 0 0 0.9375px #fd7605, inset 0 0 0 2.5px #fd7e14, inset 0 0 0 3px #aa4e01, inset 0 0 0 3.26087px #120800, inset 0 0 0 4px rgba(254, 209, 172, 0.7), inset 0 0 0 5.45455px #fd7e14, inset 0 12px 4px #f57102, inset 0 0 3px 5px #dc6502, 0 1.5px 0 rgba(0, 0, 0, 0.3); }
  .orange .push--flat:after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    left: 3px;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 2px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .orange .push--flat:active, .orange .push--flat.is-pushed {
    box-shadow: inset 0 0.9375px 0 #fd8c2d, inset 0 -0.9375px 0 #f57102, inset 0 0 0 0.9375px #fd7605, inset 0 0 0 2.5px #fd7e14, inset 0 0 0 3px #aa4e01, inset 0 0 0 3.52941px #441f01, inset 0 0 0 4px rgba(254, 209, 172, 0.2), inset 0 0 0 5.45455px #fd7605, inset 0 12px 4px #e66a02, inset 0 0 3px 5px #c35a02, 0 1.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #fd780a; }
    .orange .push--flat:active:after, .orange .push--flat.is-pushed:after {
      bottom: 3.5px;
      border-width: 0; }

.orange .push--skeuo {
  box-shadow: inset 0 1.25px 0 #fd8c2d, inset 0 -1.25px 0.5px #f57102, 0 0 0.5px #fd7e14, inset 0 0 1px #c35a02, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px #fd7e14, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #aa4e01, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.25px 3.26087px #120800, inset 0 0 0.25px 3.75px rgba(254, 209, 172, 0.7), inset 0 1.5px 0 3.52941px rgba(254, 168, 96, 0.7), inset 0 -1.5px 0.5px 3.52941px rgba(220, 101, 2, 0.2), inset 0 0 0 5.45455px #fd7e14, inset 0 12px 4px #f57102, inset 0 0 3px 5px #dc6502, 0 0.75px 1.5px rgba(0, 0, 0, 0.5); }
  .orange .push--skeuo:active, .orange .push--skeuo.is-pushed {
    box-shadow: inset 0 1.25px 0 #fd8c2d, inset 0 -1.25px 0.5px #f57102, 0 0 0.5px #fd7e14, inset 0 0 1px #c35a02, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px #fd7e14, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #aa4e01, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.75px 3.52941px #441f01, inset 0 0 0.25px 4px rgba(254, 209, 172, 0.2), inset 0 1.5px 0 28px rgba(254, 168, 96, 0.5), inset 0 -1.5px 0.5px 28px rgba(170, 78, 1, 0.2), inset 0 0 0 5.45455px #fd7605, inset 0 12px 4px #e66a02, inset 0 0 3px 5px #c35a02, 0 0.75px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #fd780a; }
    .orange .push--skeuo:active:before, .orange .push--skeuo.is-pushed:before {
      opacity: .5; }
  .orange .push--skeuo:before {
    content: '';
    position: absolute;
    bottom: 6.66667px;
    left: 8.33333px;
    display: block;
    width: 13.63636px;
    height: 9.09091px;
    background: rgba(254, 209, 172, 0.2);
    background: linear-gradient(to top, rgba(255, 237, 222, 0.3) 0%, rgba(253, 126, 20, 0.1) 100%);
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms; }

.white [class*="push"] {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms; }

.white .push--flat {
  box-shadow: inset 0 0.9375px 0 white, inset 0 -0.9375px 0 #f2f2f2, inset 0 0 0 0.9375px #f7f7f7, inset 0 0 0 2.5px white, inset 0 0 0 3px #cccccc, inset 0 0 0 3.26087px gray, inset 0 0 0 4px rgba(255, 255, 255, 0.7), inset 0 0 0 5.45455px white, inset 0 12px 4px #f2f2f2, inset 0 0 3px 5px #e6e6e6, 0 1.5px 0 rgba(0, 0, 0, 0.3); }
  .white .push--flat:after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    left: 3px;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 2px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .white .push--flat:active, .white .push--flat.is-pushed {
    box-shadow: inset 0 0.9375px 0 white, inset 0 -0.9375px 0 #f2f2f2, inset 0 0 0 0.9375px #f7f7f7, inset 0 0 0 2.5px white, inset 0 0 0 3px #cccccc, inset 0 0 0 3.52941px #999999, inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 5.45455px #f7f7f7, inset 0 12px 4px #ebebeb, inset 0 0 3px 5px #d9d9d9, 0 1.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #fafafa; }
    .white .push--flat:active:after, .white .push--flat.is-pushed:after {
      bottom: 3.5px;
      border-width: 0; }

.white .push--skeuo {
  box-shadow: inset 0 1.25px 0 white, inset 0 -1.25px 0.5px #f2f2f2, 0 0 0.5px white, inset 0 0 1px #d9d9d9, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px white, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #cccccc, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.25px 3.26087px gray, inset 0 0 0.25px 3.75px rgba(255, 255, 255, 0.7), inset 0 1.5px 0 3.52941px rgba(255, 255, 255, 0.7), inset 0 -1.5px 0.5px 3.52941px rgba(230, 230, 230, 0.2), inset 0 0 0 5.45455px white, inset 0 12px 4px #f2f2f2, inset 0 0 3px 5px #e6e6e6, 0 0.75px 1.5px rgba(0, 0, 0, 0.5); }
  .white .push--skeuo:active, .white .push--skeuo.is-pushed {
    box-shadow: inset 0 1.25px 0 white, inset 0 -1.25px 0.5px #f2f2f2, 0 0 0.5px white, inset 0 0 1px #d9d9d9, inset 0 0 1px rgba(51, 51, 51, 0.5), inset 0 0 0.5px 2.5px white, inset 0 -1px 0.75px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.5px 3px #cccccc, inset 0 0 0.5px 3px rgba(51, 51, 51, 0.7), inset 0 0 0.75px 3.52941px #999999, inset 0 0 0.25px 4px rgba(255, 255, 255, 0.2), inset 0 1.5px 0 28px rgba(255, 255, 255, 0.5), inset 0 -1.5px 0.5px 28px rgba(204, 204, 204, 0.2), inset 0 0 0 5.45455px #f7f7f7, inset 0 12px 4px #ebebeb, inset 0 0 3px 5px #d9d9d9, 0 0.75px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #fafafa; }
    .white .push--skeuo:active:before, .white .push--skeuo.is-pushed:before {
      opacity: .5; }
  .white .push--skeuo:before {
    content: '';
    position: absolute;
    bottom: 6.66667px;
    left: 8.33333px;
    display: block;
    width: 13.63636px;
    height: 9.09091px;
    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms; }

.arcade-button {
  display: inline-flex; }
  .arcade-button label {
    display: flex;
    align-items: center;
    line-height: 30px;
    margin-left: -5px;
    margin-top: 10px;
    font-size: 6px; }
